.articleWrapper {
  position: relative;
}

.articleFancy {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(var(--angle),
      hsl(269 0 4),
      hsl(260 60 20));
  animation: 8s rotate linear infinite;
}

.article {
  height: 99.5%;
  width: 99.9%;
  position: relative;
  top: 1px;
  left: 1px;
}

.article:hover {
  animation: 4s wave alternate infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes wave {
  0% {
    filter: drop-shadow(0 0 0 hsl(0 0 10));
  }

  100% {
    filter: drop-shadow(0 0 12px hsl(0 0 20));
  }
}